[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot/
[submodule "docker-autotest"]
	path = docker-autotest
	url = git@github.com:cu-ecen-aeld/aesd-autotest-docker.git
