[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot/
[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-aeld/assignment-autotest.git
[submodule "qemu"]
	path = qemu
	url = https://github.com/qemu/qemu.git
