BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_AESD_ASSIGNMENTS_PATH)/kernel.config"
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_AESD_ASSIGNMENTS_PATH)/overlay/"
BR2_ROOTFS_DEVICE_TABLE="$(BR2_EXTERNAL_AESD_ASSIGNMENTS_PATH)/system/my_device_table.txt"
